@import "./css/reset.css";
@import "./css/vars.css";
@import "./css/header.css";

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
.hidden{
  display: none;
}
body{
  background-color: #42e298;
}
.quotesectie{
  margin: 20rem auto;
  text-align: center;
}
.quoterandom{
  font-size: 4rem;
  margin-bottom: 2rem;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
.quoteauthor{
  font-size: 1rem;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}
