@import "./css/reset.css";
@import "./css/vars.css";

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
.hidden{
  display: none;
}
body{
  background-color: #42e298;
  margin: 20rem auto;
  text-align: center;
  width: 96rem;
}
.quotesectie{
  margin-bottom: 30rem;
}
.quoterandom{
  font-size: 4rem;
  margin-bottom: 2rem;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
.quoteauthor{
  font-size: 1rem;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}
.buttonsectie{
  display: flex;
  justify-content: space-between;
}
.quotebutton__home{
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 1.6rem;
  padding: 1rem;
  border: 0.3rem solid black;
  border-radius: 0.2rem;
  font-family: sans-serif;
  font-weight: bold;
}
.quotebutton__home:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}
